# Tasks

In [ ]:
# Imports:
# Data Frames.
import pandas as pd
# Machine learning Library that contains example datasets.
import sklearn as skl
import matplotlib as plt

## Task 1: Loading The Dataset

In [2]:
# Loading the iris dataset from the sklearn module.
data = skl.datasets.load_iris()
df = skl.datasets.load_iris(as_frame=True)

The load_iris() command returns a dataset in dictionary form, originally published by R.A. Fisher in 1936, featuring data on the sepal and petal lengths and widths of different types of iris flower species measured in centimeters.  It contains 150 instances of measurements, 50 for each species observed: Iris Setosa, Iris Versicolour and Iris Virginica. It is noted as one of the earliest used datasets in the development of classification methods. It is extremely famous and influential still to this day despite being nearly a century old.

# Task 2: Explore the Data Structure

Print and explain the shape of the data set:

In [14]:
# Shape
# Reference used: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html
df['data'].shape

(150, 4)

The dataset contains 150 instances (rows) of 4 measurements (columns), totalling 600 datapoints.

Print the first and last 5 rows of the data:

In [15]:
# The first five rows of the data:
df['data'].head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
# The last five rows of the data:
df['data'].tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

Print the feature names and the target classes:

In [17]:
# Printing the feature names
df['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [18]:
# Printing the target classes
# Reference used: https://docs.python.org/3/library/array.html
df['target_names'].tolist()

['setosa', 'versicolor', 'virginica']

## Task 3: Summarise the Data

For each feature in the dataset, calculate and display:

- mean
- minimum
- maximum
- standard deviation
- median

In [19]:
df['data'].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [20]:
df['data'].mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [21]:
df['data'].min()

sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
dtype: float64

In [22]:
df['data'].max()

sepal length (cm)    7.9
sepal width (cm)     4.4
petal length (cm)    6.9
petal width (cm)     2.5
dtype: float64

In [23]:
df['data'].std()

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
dtype: float64

In [24]:
df['data'].median()

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
dtype: float64

## Task 4: Visualize Features

Plot histograms for each feature using matplotlib.
Add appropriate titles and axis labels.

## End